*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}
section{
  width: 100%;
  min-height: 100vh;
  padding: 0.2rem 0% 0.2rem;
}
nav{
  /* background-color: purple;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1); */
  margin: 1rem;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #c4e8bf;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .menu .hideOnMobile{
      display: none;
  }
  .menu-button{
      display: block;
  }
}
@media(max-width: 300px){
  .sidebar{
      width: 100%;
  }
}
.nav-btn{
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 2px 30px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 9%;
  background:  #F3D0B3;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.logo a {
  color: #F1F1F1;
  font-size: 35px;
  font-weight: 600;
}
.logo a span {
  color: #3D6734;
  transition: all 0.3s ease;
}
.menu {
  display: flex;
  height: 1vh;
}

button {
  appearance: none;
  background-color: transparent;
  bottom: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}
button span {
  color: #fff;
}

.menu li {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: red;
}

li>a>button {
  position: relative;
  display: grid;
  place-content: center;
  grid-template-areas: 'stack';
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

li>a>button>span {
   transition: all 300ms ease-in-out;
   grid-area: stack;
}
li>a>button>span:last-of-type{
  margin-top: 0.25rem;
  transform: scale(0);
  transition-delay: 0ms;
  border-radius: 50%;
}

li>a>button:focus-visible>span:first-of-type,
li>a>button:hover>span:first-of-type {
  transform: scale(0);
}

li>a>button:focus-visible>span:last-of-type,
li>a>button:hover>span:last-of-type {
  transform: scale(1);
  color: #3D6734;
}
.parta {
  background: #3D6734;
}
.parta-content {
  font-size: 25px;
  padding: 3%;
}
.parta h1 {
  padding: 3%;
  margin-top: 100px;
  font-size: 10vw;
  line-height: 11vw;
}
.btn-container {
  margin: 20px 0;
}
.parta button{
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.btn-dark{
  background: #F3D0B3;
  color: #3D6734;
  padding: 10px 10px 10px 30px;
  border-radius: 40px;
}
.btn-light{
  background: transparent;
  text-decoration: underline;

}
.parta p{
  max-width: 800px;
  font-weight: 600;
}
.parta-content h1 span{
  background: #F3D0B3;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}
.parta-content h1 span:first-child{
  animation: textcolor1 2s linear infinite alternate;
}
.parta-content h1 span:last-child{
  animation: textcolor2 2s linear infinite alternate;
}
@keyframes textcolor1 {
  0%{
      background-size: 0%;
  }
  40%{
      background-size: 100%;
  }
  100%{
      background-size: 100%
  }
}
@keyframes textcolor2 {
  0%{
      background-size: 0%;
  }
  40%{
      background-size: 100%;
  }
  100%{
      background-size: 100%
  }
}
.background{
  background-color: transparent;
  position: absolute;
  width: 80%;
  height: 500px;
  max-width: 400px;
  right: 1%;
  bottom: 0;
  top: 10%;
}
@media only screen and (max-width: 600px){
.head {
  color: #F3D0B3;
  background-color: #3D6734;
}
  
  .parta-content{
      position: absolute;
      bottom: 0.0;
      padding: 0 1%;
      z-index: 5;
      padding-bottom: 0;
      background: linear-gradient(to bottom, transparent, gray);
  }
  .parta-p {
      font-weight: 10;
      font-size: smaller;
  }
  .head-img {
      width: 10%;
      height: 10%;
      right: auto;
      padding-bottom: 55%;
      position: relative;
      margin-top: 5;
      top: 50%;
      bottom: 5%;
  }
}
.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -5px;
  gap: 32px;
}
.social_icons i {
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  margin: 5px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0px 1px 5px 3px #F3D0B3;
  border-radius: 50%;
  transition: 0.5s;
}
.social_icons i:hover{
  transform: scale(1.8);
}
.home {
  display: flex ;
  align-items: center;
  background-color: var(--bg-color);
}
.head-img {
  background-color: transparent;
  position: absolute;
  width: 80%;
  height: 500px;
  max-width: 400px;
  right: 7%;
  top: 25%;
}
.head-img img {
  width: 30vh;
  right: 0;
  margin-left: 100px;
  border: 3px solid #F3D0B3;
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  animation: boderAnimation 5s linear infinite;
}
@keyframes boderAnimation {
0%{
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
}
35%{
  border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
}
65%{
  border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
}
100%{
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
}
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background: var(--bg-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer .social a {
  display: inline-flex;
  justify-content: center;
  background: transparent;
  font-size: 2rem;
  margin: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 5px 1px 5px 3px #3D6734;
  color: #3D6734;
  border-radius: 50%;
  transition: 0.5s;
}
.footer .social a:hover {
  transform: scale(1.5) translateY(-8px);
  box-shadow: 0 0 20px #3D6734;
}
.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

/*contacts*/
.services {
  color: white;
  background: #3D6734;
}
.heading{
  text-align: center;
  font-size: 4.5rem;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15px;
  border: 5px solid black;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: black;
  transform: translateY(-10px);
}

/*merch*/
/* *,
*::before,
*::after{
  box-sizing: border-box;
} */
*{
  margin: 0;
}
body{
  background:  #273316;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5rem;
}
.wrapper{
  border : 1px transparent;
  width: 80%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 3rem;
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      rgba(0,0,0,0),
      rgba(0,0,0,1)20%,
      rgba(0,0,0,1)80%,
      rgba(0,0,0,0)
  );
}
@keyframes scrollLeft{
  to{
      left: -200px;
  }
}
.item {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  position: absolute;
  left: calc(200px * 8);
  animation-name: scrollLeft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.image1 {
  animation-delay: calc(20s / 8 * (8 - 1) * -1) ;
}
.image2 {
  animation-delay: calc(20s / 8 * (8 - 2) * -1) ;
}
.image3 {
  animation-delay: calc(20s / 8 * (8 - 3) * -1) ;
}
.image4 {
  animation-delay: calc(20s / 8 * (8 - 4) * -1) ;
}
.image5 {
  animation-delay: calc(20s / 8 * (8 - 5) * -1) ;
}
.image6 {
  animation-delay: calc(20s / 8 * (8 - 6) * -1) ;
}
.image7 {
  animation-delay: calc(20s / 8 * (8 - 7) * -1) ;
}
.image8 {
  animation-delay: calc(20s / 8 * (8 - 8) * -1) ;
}
.text {
  color: #f3d0b3;
  border: 5px transparent;
  margin-top: 3rem;
  border: 1px transparent;
  border-radius: 6%;
  padding: 2rem;
  text-align: center;
  display: grid;
  font-weight: 500;
  font-style: italic;
}
.btn-container{
  margin: 20px 0;
}
.btn-dark{
  background: #f3d0b3;
  color: #273316;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
}
